{{> head}}
{{> navbar}}

<dir class="row">

    <div class="col-8">
        <h1>Link</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam cupiditate vel vitae eius iure nemo, distinctio odio dolorem porro quos laborum quam accusantium explicabo debitis nihil! Exercitationem praesentium dolore iure!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/link.jpg" class="img-thumbnail">
    </div>

</dir>

{{> footer}}