

{{> head}}



    {{> navbar}}

    <div class="bg-light p-1">

        <h1 class="display-4">Hola {{ capitalizar nombre }}</h1>
        <hr class="my-4">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil illum ullam fugit ea, molestias ipsa mollitia ad explicabo velit quisquam ab sit, eius eveniet architecto qui, dolores dolorum fugiat enim.
        </p>
    </div>

{{> footer}}